/*===================================================
    Directory:
    0.) Investor Login / Form & Sign Up
    I.) Layout
    II.) Archive Layout
======================================================*/
/*===================================================
    I.) Investor Login / Form & Sign Up
======================================================*/
.login-block {
    /* background: #f3f1eb; */
}

.investors_slideshow .banner-sec {
    /* background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom; */
    background-size: cover;
    min-height: 500px;
    /* border-radius: 0 10px 10px 0; */
    padding: 0 !important;
    display:flex;
    justify-content:center;
    align-items:center;
}
.investor_advancement .investor_core_values .card{
    border-radius: 0 !important;
}
.investor_advancement .investor_core_values .card h5{
    text-align:center;
    font-weight:600;
    font-size:1.75rem
}
.investors_slideshow .carousel-inner {
    border-radius: 0 10px 10px 0;
}
.investors_slideshow .carousel-caption {
    text-align: left;
    left: 5%;
}
.login-sec {
    padding: 10px 30px;
    position: relative;
}
.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}
.login-sec .copy-text i {
    color: #FEB58A;
}
.login-sec .copy-text a {
    color: #E36262;
}
.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
}
.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FEB58A;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}
.btn-login {
    background: #DE6262;
    color: #fff;
    font-weight: 600;
}
.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}
.banner-text h2 {
    color: #fff;
    font-weight: 600;
}
.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}
.banner-text p {
    color: #fff;
}
.register-right{
    background: #f3f1eb;
    /* border-top-left-radius: 3%; */
    /* border-bottom-left-radius: 3% 3%; */
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    /* margin-top: 3%; */
    border: none;

    border-radius: 0;
    width: 100%;
    display: flex;
    justify-content: center;align-items: center;
}
.register .nav-tabs .nav-link{
    font-weight: 200;
    color: #fff;
    border-radius: 0;
    background-color: #002d73;
    border: 0;}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-items{
    position:relative;
    overflow-x:hidden;
}
.register .nav-tabs .nav-link.active{
    width: 100%;color: #002d73;
    background-color: #f3f1eb;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;border-bottom: 0;position: relative;font-weight: 700;
}
.register .nav-tabs .nav-link.active:before{
    content: "\f229";
    position: relative;
    bottom: -25px;
    right: 0;
    font-family: bootstrap-icons !important;
    display: inline-flex;
    justify-content: center;

    align-items: center;}

a#login-tab {}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
/*===================================================

======================================================*/
#investorHighlight span{
}
.bs-calltoaction{
}
.bs-calltoaction > .row{
}
.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"]{
}
.page-template-investors .cta-contents{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.cta-title{
    margin: 0 auto 15px;
    padding: 0;
}
.page-template-investors .cta-desc{
    padding: 0;
}
.page-template-investors .cta-desc p:last-child{
    margin-bottom: 0;
}
.page-template-investors .cta-button{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*===================================================
======================================================*/
@media(min-width:768px){
    .investor-gradient{
    }
    .investor-info{
        background-color:transparent;
        border: none !important;
    }
    .investor-gradient .date{
        text-transform: uppercase;\
    z-index: 1;
        position: relative;
        left: -10px;
        padding: .75rem 1.25rem;
        text-transform:uppercase;
    }
    .investor-gradient .date:before{
        content: "";
        position: absolute;
        left: 5px;
        top: 0;
        width: 93%;
        height: 100%;
        background-color: var(--defaultBlueHEX, #002d73);
        transform: skewX(
                -13deg);
        z-index: -1;
        box-sizing: content-box;
    }
    .investor-info h3.card-title a{
        color:var(--defaultBlueHEX, #002d73);
    }
    .date a h5.text-muted {
        font-size: 15px;
        margin:0;
        color: var(--white, #fff) !important;
    }
    .investor-info a p{
        color: #6c757d !important;
        font-size: 12px;
    }
    .most-recent-inv-docs{
    }
    .investorCard{
        margin:15px 0;
    }
    .investorCard .card-footer{
        background-color:#002d73;
        padding: 3px;
        text-align: center;
        font-style: italic;
    }
    .investorCard .card-footer small{
        color:#fff !important;
    }
    .most-recent-inv-docs .investor-info{
    }
    .yearly-title{
        background-color:var(--fallback);
        padding: .5em;
    }
    .investorCategoryListings ul{
        margin: 10px 0;
        padding-left: revert;
    }
    .investorCategoryListings ul a:hover{
        text-decoration:none;
    }
    .investorCategoryListings ul hr{
        margin:1% 0;
    }
    .investorsThumbnailcontainer{
        color: #fff;
        position: relative;
        height: 25vh;
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
    .investorsThumbnailcontainer .card{
        background-color:transparent;
    }
    .page-template-investors .thumbnailLong{
        color: #fff;
        position: relative;
        height: 30vh;
        background-position: center;
        background-size: cover;
    }
    .investorsThumbnailcontainer a{
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 11;
        position: relative;
        height: 100%;
    }
    .investorSectionTitle h2{
        margin:1% 0;
        /* padding: 0 10px; */
        color: var(--defaultBlueHEX);
        text-transform: uppercase;
    }
    .page-template-investors .card-content-date{
        font-size: 11px;
        color: #fff;
        text-align: left;
    }
    .investorsThumbnailcontainer .card-content h2{
        color: var(--white) !important;
        font-family:var(--font-family);
        text-align: left;
        font-size: 25px;
        margin: 0;
    }
    .page-template-investors .img-card-top{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin: 0 20px;
        padding: 6px;
        background: var(--processBlueHEX, #0082CA);
        height: 100%;
        align-items: center;
        border-radius: 3px;
    }
    .investorCategoryListings li.media{
        display: inline-flex;
        padding: 0;
        align-items: center;
        height: 125px;
        /* width: 100%; */
    }
    .investorCategoryTitle{
        position: relative;
        padding: 0 !important;
        background: #002d73;
        border-bottom: solid 1px #002d73;
    }
    .investorCategoryListings{
        align-items: center;
        /* height: 100%; */
        /* width: 100%; */
        position: relative;
        display: inline-flex;
    }
    .investorCategoryListings li.media h5{
        color: #002d73;
    }
    .investorCategoryTitle h2{
        margin:1% 0;
        color: var(--white);
        text-align: left;
        text-transform: uppercase;
    }
    .taxonomy-list-elements ul li{
        list-style: none;
        display: flex;
        width: 100%;
    }
    .taxonomy-list-elements ul i{
        font-size: 10px;
        color: #fff;
        opacity: .85;
        display: flex;
        justify-content: start;
        align-items: baseline;
    }
    .taxonomy-list-elements a{
        color: #fff;
    }
    .taxonomy-card{
        position:relative;
        width: 100%;
        padding: 10px 15px;
        color: #002d73;
        display: inline-grid;
    }
    .taxonomy-card-title{
        display:flex;
        justify-content:center;
        align-items:start;
    }
    .taxonomy-card-date{
        height: 100%;
    }
    .taxonomy-list-elements ul{
        margin:0;
    }
    .recentInvestors{
        padding: 0 !important;
        border:solid 1px rgb(255, 255, 255);
    }
    .recentInvestors .card{
        z-index:11;
    }
    .dateContainer{
        display: block;
        text-align: center;
        align-items: center;
    }
    .dateContainer span.month{
        font-size: 35px;
        display: block;
        line-height: 100%;
        color: #ffffff;
        border-bottom: solid 1px #ffffff;
    }
    .dateContainer span.year{
        color: rgb(255, 255, 255);
    }
    .catLable{
        background-color: var(--fallback);
        position: relative;
        height: 100%;
        width: 100%;
    }
    .catLable li{
        border:none;
        justify-content: space-between;
        background-color: transparent;
    }
    .catLable button{
    }
    .catLable button.none {
        border: none;
        background-color:transparent;
    }
    .catLable button.none .text-info{
        color:var(--white) !important;
        font-size: 22px;
    }
    .investorOverlay{
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 0.5;
        z-index: 0;
    }
    .archive .article-list .archive-content{
        margin-bottom:0
    }
    .archive .article-list .archive-content p{
        color: var(--linkColorDefault);
    }
    .investorArchiveTitle h1{
        font-size: 32px;
        font-weight: 800;
    }
    .archiveSideBar ul li a.active{
        font-weight:800;
    }
    div.banner-inner-investor {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        display: block;
        position: relative;
    }
    .investorTitleContainer  .innerTitleContainer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 7;
        display: flex;
        justify-content: center;
        background-color: var(--white);
        opacity:.9;
        overflow: hidden;
        text-align: center;
        align-items: center;
    }
    .investorTitleContainer  .innerTitleContainer h1{
        color: var(--secondaryOption, rgb(107,105,135));
        font-family:var(--fontFamilySecondary);
        /* font-size:24px; */
    }
    .investorYearDescription h3{
        color: var(--white, #fff) !important;
        margin: 0;
        font-family:var(--fontFamilyPrimary);
    }
    .catLable ul li.list-group-item .catCount{
    }
    ul.catLable  li.list-group-item .catCount span{
        color:var(--white,#fff);
        font-family:var(--fontFamilyPrimary);
    }
    .investorYearDescription{
        padding: 0 !important;
        margin: 1%;
    }
    .investor-overlay{
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: #000;
        opacity: .9;
        padding: 1.6rem;border-radius: 4px;}
    .investor-update{
        position: relative;
        z-index: 4;
        color: #fff;
        padding: 0;
    }
    .investor-support{
    }
    .investor-support ul{
        padding: 0;
    }
    .investor-support ul li{
    }
    /*Profile card 2*/
    .investor-support .profile-card-2 .card-img-block{
        float:left;
        width:100%;
        height:150px;
        overflow:hidden;
    }
    .investor-support .profile-card-2 .card-body{
        position:relative;
    }
    .investor-support .profile-card-2 .profile {
        border-radius: 50%;
        position: absolute;
        top: -42px;
        left: 15%;
        max-width: 75px;
        border: 3px solid rgba(255, 255, 255, 1);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    .investor-support .profile-card-2 h5{
        font-weight:600;
        color:#6ab04c;
    }
    .investor-support .profile-card-2 .card-text{
        font-weight:300;
        font-size:15px;
    }
    .investor-support .profile-card-2 .icon-block{
        float:left;
        width:100%;
    }
    .investor-support .profile-card-2 .icon-block a{
        text-decoration:none;
    }
    .investor-support .profile-card-2 i {
        display: inline-block;
        font-size: 16px;
        color: #6ab04c;
        text-align: center;
        border: 1px solid #6ab04c;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        margin:0 5px;
    }
    .investor-support .profile-card-2 i:hover {
        background-color:#6ab04c;
        color:#fff;
    }
}
@media(max-width:767px){
    .investorYearDescription{
    }
    .investorCategoryListings ul{
        margin-bottom:0;
    }
    .investorCategoryListings ul hr{
        margin:1% 0;
    }
    .investorsThumbnailcontainer{
        /* background-color: #002d73; */
        color: var(--white, #fff);
        position: relative;
        height: 20vh;
        min-height: 100%;
        /* background-position: center; */
        background-size: cover;
    }
    .thumbnailLong{
        color: #fff;
        position: relative;
        height: 30vh;
        background-position: center;
        background-size: cover;
    }
    .investorsThumbnailcontainer a{
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        z-index: 11;
        position: relative;
        height: 100%;
        padding: 20px;
    }
    .investorSectionTitle h2{
        margin: 1% 0 !important;
        padding: 0 10px;
        font-size: 26px;
    }
    .card-content-date{
        font-size: 11px;
        color: #fff;
        text-align: left;
    }
    .investorsThumbnailcontainer .card-content h4{
        color: #fff;
        text-align: left;
        font-size: 20px;
        white-space: pre-wrap;
    }
    .img-card-top{
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 20px;
        padding: 6px;
        background: rgba(236,  102,  8,  1);
        height: 100%;
        align-items: center;
    }
    .investorCategoryListings li.media{
        display: flex;
        padding: 10px;
        justify-content: end;
        align-items: center;
    }
    .investorCategoryTitle{
        position: relative;
        text-align: left;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: var(--fallback, #002d73);
        border-bottom: solid 1px var(--fallback, #002d73);
    }
    .investorCategoryListings{
        justify-content: center;
        align-items: center;
    }
    .investorCategoryTitle h2{
        margin: 5% 0 !important;
        color: var(--fallback, #002d73);
        font-size: 21px;
        padding: 2px;
        \: \;
    }
    .taxonomy-list-elements ul li{
        list-style: none;
        display: flex;
        width: 100%;
    }
    .taxonomy-list-elements ul i{
        font-size: 10px;
        color: var(--white, #fff);
        opacity: .85;
        display: flex;
        justify-content: start;
        align-items: baseline;
    }
    .taxonomy-list-elements a{
        color: var(--white, #fff);
    }
    .taxonomy-card{
        background-color: var(--fallback, #002d73);
        position:relative;
        width: 100%;
        margin: 15px 0;
        height: 13vh;
        /* min-height: 150px; */
        padding: 10px 15px;
        /* align-items: center; */
        color: var(--white, #fff);
        display: inline-grid;
    }
    .taxonomy-card-title{
        display:flex;
        justify-content:center;
        align-items:start;
    }
    .taxonomy-card-date{
        height: 100%;
    }
    .taxonomy-list-elements ul{
        margin:0;
    }
    .recentInvestors{
        /* padding:0; */
        border:solid 1px var(--white);
    }
    .recentInvestors .card{
        z-index:11;
        background-color: transparent;
    }
    .dateContainer{
        display: block;
        text-align: center;
        align-items: center;
    }
    .dateContainer span.month{
        font-size: 35px;
        display: block;
        line-height: 100%;
        color: var(--white, #fff);
        border-bottom: solid 1px var(--white, #fff);
    }
    .dateContainer span.year{
        color: var(--white, #fff);
    }
    .catLable{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .catLable button{
        padding: 5px;
    }
    .investorOverlay{
        position: absolute;
        top: 0;
        left:0;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.5;
        z-index: 0;
    }
    .archive .article-list .archive-content{
        margin-bottom:0
    }
    .archive .article-list .archive-content p{
        color:#767575
    }
    .investorArchiveTitle h1{
        font-size: 32px;
        font-weight: 800;
    }
    .archiveSideBar ul li a.active{
        font-weight:800;
    }
    div.banner-inner-investor {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        display: block;
        position: relative;
    }
    .investorTitleContainer  .innerTitleContainer {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 7;
        display: flex;
        justify-content: center;
        background-color: var(--white);
        opacity:.9;
        overflow: hidden;
        text-align: center;
        align-items: center;
        padding:2% 0;
    }
    .investorTitleContainer  .innerTitleContainer h1{
        color:#002d73;
        font-size:24px;
    }
}
/*** jeremy's quick fix so nick doesn't have to work on vacay. ***/
/*** investor registration page: form absolute positioning causes form to run under footer for small screens/mobile and with browser zoom. ***/
/*** also deactivated hummingbird, it was breaking mobile menu functionality ***/
/*** added /investors-center/ to never cache in wp rocket, caching was causing log in form loading issues ***/
/*** removed this from wp rocket>excluded javascript files, it was breaking the pop up notification on home page

(?:/staging/wp-content|/staging/wp-includes/)(.*)
/jquery-?[0-9.](.*)(.min|.slim|.slim.min)?.js
js-(before|after)

***/

@media(max-width:974px){
    div.banner-inner-investor {
        height:50px;
    }
    .login-container {
        margin-top: 60px;
    }
}
@media(max-width:780px){
    .register-info-box {
        width: 100%;
        position: absolute;
        top: 60%;
    }
    .white-panel {
        width: 100%;
        position: relative;
    }
    .login-info-box {
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }
}
.page-template-investors .card{
    border-radius: 5px;
    margin: 0;
    overflow: hidden;
    /* border: none; */
}

.single-chart {
    justify-content: space-around;
}
.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}
.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
}
.aos-animate .circle-39 {
    animation: progress-39 3s ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.aos-animate .circle-28 {
    animation: progress-28 3s ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.aos-animate .circle-11 {
    animation: progress-11 3s ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.aos-animate .circle-7 {
    animation: progress-7 3s ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.aos-animate .circle-6 {
    animation: progress-6 3s ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.aos-animate .circle-2 {
    animation: progress-2 3s ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes progress-39 {
    0% {
        stroke-dasharray: 0,  100;
    }
    100% {
        stroke-dasharray: 39,  100;
    }
}@keyframes progress-28 {
     0% {
         stroke-dasharray: 0,  100;
     }
     100% {
         stroke-dasharray: 28,  100;
     }
 }@keyframes progress-11 {
      0% {
          stroke-dasharray: 0,  100;
      }
      100% {
          stroke-dasharray: 11,  100;
      }
  }@keyframes progress-7 {
       0% {
           stroke-dasharray: 0,  100;
       }
       100% {
           stroke-dasharray: 7,  100;
       }
   }@keyframes progress-6 {
        0% {
            stroke-dasharray: 0,  100;
        }
        100% {
            stroke-dasharray: 6,  100;
        }
    }@keyframes progress-2 {
         0% {
             stroke-dasharray: 0,  100;
         }
         100% {
             stroke-dasharray: 2,  100;
         }
     }.circular-chart.blue .circle {
          stroke: #002d73;
      }
.circular-chart.blue2 .circle {
    stroke: rgba(0,  45,  115,  .9);
}
.circular-chart.blue3 .circle {
    stroke: rgba(0,  45,  115,  .8);
}
.circular-chart.blue4 .circle {
    stroke: rgba(0,  45,  115,  .7);
}
.circular-chart.blue5 .circle {
    stroke: rgba(0,  45,  115,  .6);
}
.circular-chart.blue6 .circle {
    stroke: rgba(0,  45,  115,  .5);
}
.circular-chart.blue7 .circle {
    stroke: rgba(0,  45,  115,  .4);
}
.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: .5em;
    text-anchor: middle;
}
.chartTitle {
    fill: #666;
    font-family: sans-serif;
    font-size: .2em;
    text-anchor: middle;
}
.keyFigureBreak {
    border-top: solid 8px #002d73;
}
@media (min-width:992px) {
    .seven-cols .col-lg-1,
    .seven-cols .col-md-1, .seven-cols .col-sm-1 {
        width: 14.285714285714285714285714285714%;
        max-width: 14.285714285714285714285714285714% !important;
        flex: none !important;
    }
}@media (min-width:1200px) {
    .seven-cols .col-lg-1,
    .seven-cols .col-md-1, .seven-cols .col-sm-1 {
        width: 14.285714285714285714285714285714%;
        max-width: 14.285714285714285714285714285714% !important;
        flex: none !important;
    }
}

.inv-title-seperation {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;padding-right: 0;}

.inv-title-seperation .inv_title_container h4{
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    color: #002d73
}
.inv-title-seperation .inv_title_container .heading{
    display: block;
    margin-bottom: 25px;
    border-bottom: 1px dotted #e4e4e4;
    background-color: transparent;
    padding: 0;
}
.inv-title-seperation .inv_title_container  h4:before{
    display: block;
    left: 0;
    top: 40px;
    position: relative;
    width: 30%;
    height: 2px;
    content: "";
    background-color: #002d73;
}
.inv_title_container{
    padding-bottom: 20px;
    border-radius: 4px;}

/*ZoomIn Hover-Mask Effect*/
.hover-mask a {
    display: block;
    position: relative;
    overflow: hidden;
}
.hover-mask img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hover-mask:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.hover-mask a h2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    padding: 20% 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.hover-mask:hover a h2 {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.hover-mask i.ligthbox {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #fff;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.hover-mask:hover i.ligthbox {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    display: flex;justify-content: center;align-items: center;}