/*===================================================

======================================================*/
.archive-content .archive-header{

    box-shadow: 0 .125rem 0rem rgba(0,0,0,.075)!important;}
.archive-content .archive-header .card-title{
    font-weight: 500;
    color: #002d73;
    font-size: 27px;
    /* line-height: 2.75rem; */
    letter-spacing: -.03125rem;
}

.contentCollection--description {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #6d6e71;
    display: block;
}
.archive-content .card-text{
    font-size: 1rem;
    line-height: 1.75rem;
}
.archive-content .text-muted{
    font-size: .85em !important;
}
.contact-info-container{}
.contact-info-container h2{}
.country-contact{}
.archive-inner-banner-image{
    background-size:cover;
    background-position: center;
    height: 300px;
}
.country-contact ul li{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.country-contact ul li i, .country-contact ul li b{
    font-size:1.4rem;
    padding:0 15px

}
.country-contact .card-title{
    margin:0;
}
.taxonomy-template-prd-display .product_terms{
    display:flex;
    /* justify-content:center; */
    align-items:center;
    /* height:100%; */
}
.taxonomy-template-prd-display .product_terms h4{
    font-size:1.15rem;
}
.taxonomy-template-prd-display .card-footer .product-contact{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.archiveSideBar .sya_date{
    display:block;
    font-weight:700;
    border-bottom:solid 1px #cecece;
}

.sidebar-archive-contact{
	height:250px;
	background-size:cover;
	background-position: center;
	position:relative;
display: flex;justify-content: center;align-items: center;border-radius: 4px;}
.sidebar-archive-contact .sidebar-overlay{
	position:absolute;
	top:0;
	left:0;
	right:0;bottom:0;
	opacity: .65;height:100%;
}
.sidebar-archive-contact .markets-contact-content{
	position:relative;
	color:#fff;
	text-align:center;
	width:100%;
}
.sidebar-archive-contact .markets-contact-content h3{
	font-weight:300;
}}