/*===================================================

Directory:
0.) Site Wide Classes
I.) Generic Inner Pages
II.) Footer
III.) Search Results
IV.) Media Page
V.) Careers
VI.) Forms
VII.) Terms and Usage
IX.) News
======================================================*/

.card-filter .widget-title{
    display: none !important;
}
.card-filter .filter-title-box{

}
.card-filter .filter-title-box h3{
    margin:0;
    color:#002d73;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 700;
}
.card-filter .wpc-filter-content{

}
.card-filter .wpc-filters-widget-select{

}
.card-filter .wpc-filters-widget-select:before{

}
.card-filter .wpc-filters-widget-select:after{

}

.card-filter .wpc-filters-section.wpc-filter-layout-submit-button a{display: block;align-items: center;justify-content: space-evenly;border: 1px solid transparent;transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;border-radius: 4px;color: #fff;padding: 18px 39px -5px 5px;text-transform: uppercase;position: relative;overflow: hidden;font-weight: 800;font-size: 12px;letter-spacing: .58px;line-height: 1;/* width: 100%; */text-align: left;background: #0082CA no-repeat 100% 0 !important;margin: 10px 0;-webkit-transition: padding .3s ease;-moz-transition: padding .3s ease;-ms-transition: padding .3s ease;-o-transition: padding .3s ease;transition: padding .3s ease;}
.card-filter .wpc-filters-section.wpc-filter-layout-submit-button a:before{
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    left: calc(100% - 25px);
    transform: skewX( -12deg);
    opacity: 1;
    background-color: #002d73;
    pointer-events: none;
    touch-action: none;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -ms-transition: left .3s ease;
    -o-transition: left .3s ease;
    transition: left .3s ease;
}
.card-filter .wpc-filters-section.wpc-filter-layout-submit-button a:after{
    content: "\f105";
    font-family: FontAwesome;
    font-size: 24px;
    font-style: normal;
    display: block;
    position: absolute;
    right: 5px;
    top: calc(50% - 13px);
    pointer-events: none;
    touch-action: none;
    -webkit-transition: right .3s ease;
    -moz-transition: right .3s ease;
    -ms-transition: right .3s ease;
    -o-transition: right .3s ease;
    transition: right .3s ease;
    color: #fff;
}
.card-filter .wpc-filters-section.wpc-filter-layout-submit-button a.wpc-filters-submit-button, .card-filter .wpc-filters-section.wpc-filter-layout-submit-button a.wpc-filters-reset-button{background-color: transparent;position: relative;/* width: unset; */border: unset;/* display: flex; */text-align: left;}