/*===================================================

Directory:
0.) Introduction
I.) Market Slider
II.) News
III.) Remy & Executives

======================================================*/
/*===================================================
    0.) Introduction
======================================================*/

@media(min-width:992px){
    .introduction{
        margin:15px 0;
    }
    .introduction .introduction-title h2 {
        text-align: center;
        font-weight: 300;
        position: relative;
        display: grid;
        letter-spacing: 1px;
        text-transform: uppercase;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
        font-size: 2.05rem;
        color: #002d73;
        margin: 1.5% 0;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .introduction .introduction-title h2:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #002d73;
        border-top: 1px solid #002d73;
        height: 5px;
        background-color: #fff;
    }
    .introduction .introduction-title h2:after {
        content: " ";
        display: block;
        border-bottom: 1px solid #002d73;
        border-top: 1px solid #002d73;
        height: 5px;
        background-color: #fff;
    }
}
@media(min-width:768px){
    .introduction .introduction-title h2 {
        text-align: center;
        font-weight: 500;
        position: relative;
        padding: 10px 0;
        letter-spacing: 1px;
        text-transform: uppercase;
        /* grid-template-columns: 1fr max-content 1fr; */
        /* grid-template-rows: 27px 0; */
        /* grid-gap: 20px; */
        align-items: center;
        font-size: 1.45rem;
        color: #002d73;
        margin: 1.5% 0;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .introduction .introduction-title h2:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #002d73;
        border-top: 1px solid #002d73;
        height: 5px;
        background-color: #fff;
    }
    .introduction .introduction-title h2:after {
        content: " ";
        display: block;
        border-bottom: 1px solid #002d73;
        border-top: 1px solid #002d73;
        height: 5px;
        background-color: #fff;
    }
}

/*===================================================

======================================================*/
@media(min-width:992px){
    .hp_cta {
        /* font-family: "Montserrat", sans-serif; */
        color: #8d97ad;
        font-weight: 300;
    }
    .hp_cta h1, .hp_cta h2, .hp_cta h3, .hp_cta h4, .hp_cta h5, .hp_cta h6 {
        color: #002d73 !important;
    }
    .hp_cta .bg-light {
        background-color: #f4f8fa !important;
    }
    .hp_cta .text-muted {
        color: #8d97ad !important;
    }
    .hp_cta .badge {
        line-height: 14px;
    }
    .hp_cta .badge-info {
        background: #188ef4;
    }
    .hp_cta .op-8 {
        opacity: 0.8;
    }
    .hp_cta .card.card-shadow {
        -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
        box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    }
    .hp_cta.wrap-cta-box {
        overflow: hidden;
        position: relative;
    }
    .hp_cta.wrap-cta-box .left-image {
        position: absolute;
        left: -15px;
        text-align: left;
        top: 0px;
    }
    .hp_cta .btn-success-gradiant {
        background: #2cdd9b;
        background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
        background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
        background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
        background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
        background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
        border: 0px;
        color: #ffffff;
    }
    .hp_cta .btn-md {
        padding: 15px 45px;
        font-size: 16px;
    }
}
@media(max-width:991px){
    .hp_cta {
        color: #8d97ad;
        font-weight: 300;
    }
    .hp_cta p{
        font-weight:600;
        font-size:.9rem !important;
    }
    .hp_cta h1, .hp_cta h2, .hp_cta h3, .hp_cta h4, .hp_cta h5, .hp_cta h6 {
        color: #002d73 !important;
    }
    .hp_cta .bg-light {
        background-color: #f4f8fa !important;
    }
    .hp_cta .text-muted {
        color: #8d97ad !important;
        font-size: 1.05rem;
    }
    .hp_cta .badge {
        line-height: 14px;
    }
    .hp_cta .badge-info {
        background: #188ef4;
    }
    .hp_cta .op-8 {
        opacity: 0.8;
    }
    .hp_cta .card.card-shadow {
        -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
        box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    }
    .hp_cta.wrap-cta-box {
        overflow: hidden;
        position: relative;
    }
    .hp_cta.wrap-cta-box .left-image {
        position: absolute;
        left: -15px;
        text-align: left;
        top: 0px;
    }
    .hp_cta .btn-success-gradiant {
        background: #2cdd9b;
        background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
        background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
        background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
        background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
        background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
        border: 0px;
        color: #ffffff;
    }
    .hp_cta .btn-md {
        padding: 15px 45px;
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .hp_cta.wrap-cta-box .left-image {
        position: relative;
        top: -90px;
    }
}
/*===================================================
    Services
======================================================*/
#learn-more {
    fill-opacity: 0;
    fill: #fff;
    stroke: #fff;
    stroke-width: 2;
    border-radius: 5px;
    stroke-linejoin: round;
    transition: all 250ms ease-in;
    cursor: pointer;
}
#learn-more:hover {
    fill-opacity: 1;
}
#learn-more:hover ~ .learn-more-text {
    fill: #005fa4;
}
.learn-more-text {
    font-family: 'Roboto';
    fill: #fff;
    pointer-events: none;
    font-size: 14px;
    transition: all 250ms ease-in;
}
.center {
    fill: #005fa4;
}
.pointer {
    fill: #fff;
    stroke: #3b8fc0;
    stroke-width: 2;
}
.nav-copy {
    fill: #fff;
    fill-opacity: 1;
    transition: all 250ms ease-in;
}
.nav-copy.changing {
    fill-opacity: 0;
}
.service {
    cursor: pointer;
}
.service text {
    font-size: 14px;
    text-anchor: middle;
}
.service .icon-wrapper {
    transform-origin: 50% 50%;
}
.service .icon-wrapper, .service .icon-wrapper > * {
    transition: all 250ms ease-in;
}
.service circle {
    fill: #005fa4;
}
.service circle.shadow {
    fill-opacity: 0;
    filter: url(#service-shadow);
}
.service use {
    fill: #fff;
}
.service text {
    fill: #4d4d4d;
}
.service.active .icon-wrapper, .service:hover .icon-wrapper {
    transform: scale(1.15) translateY(-5px);
}
.service.active .icon-wrapper, .service:hover .icon-wrapper, .service.active .icon-wrapper > *, .service:hover .icon-wrapper > * {
    transition: all 250ms ease-out;
}
.service.active .icon-wrapper circle.shadow, .service:hover .icon-wrapper circle.shadow {
    fill-opacity: 0.4;
}
.service.active text, .service:hover text {
    fill: #005fa4;
    font-weight: bold;
}
/*===================================================
    Executive Highlight
======================================================*/
@media(min-width:992px){
    .executive-highlight{
        margin:0;
        /* padding:0; */
        /* height: 35vh; */
        position: relative;
    }
    .executive-highlight .bg-img::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #191919;
        opacity: .6;
        border-radius: inherit;
    }
    .executive-highlight .bg-img{
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        min-height: 500px;}
    .oval-divider--10 {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0xMDk0LjQ0IDExOUwxNzIuNyA2OC43MmE3NC41NCA3NC41NCAwIDAgMS0yNS4xOS01Ljk1TDAgMHYxNDBoMTI4MFYwbC0xMzMuODUgMTAyYy0xNS44NCAxMi4wOS0zMy43IDE3Ljk1LTUxLjcxIDE3eiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0xMDkzLjQ4IDEzMS44NUwxNzMgOTRhNzYuODUgNzYuODUgMCAwIDEtMzYuNzktMTEuNDZMMCAwdjE0MGgxMjgwVjBsLTEzMS44MSAxMTEuNjhjLTE2LjQ3IDEzLjk2LTM1LjQ3IDIwLjk2LTU0LjcxIDIwLjE3eiIvPjwvZz48L3N2Zz4=);
    }
    .oval-divider--bottom {
        background-size: 100% 100px;
        bottom: 0;
        height: 100px;
        z-index: 1;
    }
    .oval-divider--bottom {
        margin-bottom: -1px;
    }
    .oval-divider--bottom, .oval-divider--top {
        display: block;
        position: absolute;
        width: 100%;
        /* height: 100%; */
        /* bottom: 0; */
        /* left: 0; */
        pointer-events: none;
        background-repeat-y: no-repeat;
        /* right: 0; */
    }
    .geometric-overlay{
        position: relative;
        border-bottom: none;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .m-gab-2-top {
        padding-top: 4.0625rem;
    }
    .m-video-link .m-video-link--icon {
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        padding: 12px;
        border-radius: 50%;
        background: rgba(255,255,255,0.20);
        line-height: 1;
        display: inline-block;
        margin-right: 10px;
    }
    .m-video-link .m-video-link--icon i {
        background: rgba(255, 255, 255, 0.39);
        padding: 22px;
        border-radius: 50%;
        text-align: center;
        color: white;
    }
    .m-video-link .m-video-link--icon:hover {
        padding: 15px;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .overview-wrapper{
        /* display:flex; */
        /* justify-content:center; */
        /* align-items:center; */
        position: relative;
        height: 100%;
        width: 100%;
    }
    .overview{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sec-title2{
        color:#fff;
    }
    .sec-title {
        position: relative;
        padding-bottom: 10px;
    }
    .sec-title .title {
        position: relative;
        color: #002d73;
        font-size: 18px;
        font-weight: 700;
        padding-right: 50px;
        margin-bottom: 15px;
        display: inline-block;
        text-transform: capitalize;
    }
    .sec-title .title:before {
        position: absolute;
        content: '';
        right: 0px;
        bottom: 7px;
        width: 40px;
        height: 1px;
        background-color: #bbbbbb;
    }
}
@media(min-width:768px){

    .sec-title2{
        color:#fff;
    }
    .sec-title {
        position: relative;
        /* padding-bottom: 0; */
    }
    .sec-title .title {
        position: relative;
        color: #002d73;
        font-size: 18px;
        font-weight: 700;
        padding-right: 50px;
        margin-top: 15px;
        display: inline-block;
        text-transform: capitalize;
    }
    .sec-title .title:before {
        position: absolute;
        content: '';
        right: 0px;
        bottom: 7px;
        width: 40px;
        height: 1px;
        background-color: #bbbbbb;
    }
    .inner-column .sec-title .title:before {
        position: absolute;
        content: '';
        right: 0px;
        bottom: 7px;
        display: none;
        height: 1px;
        background-color: #bbbbbb;
    }
    .sec-title h2{
        font-size:1.25rem;
        color: rgba(0, 0, 0, 0.4);}
    .executive-highlight{
        margin:0;
        /* padding:0; */
        height: 100%;
        position: relative;
    }
    .executive-highlight .bg-img::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #191919;
        opacity: .6;
        border-radius: inherit;
    }
    .executive-highlight .bg-img{
        background-size: cover;
        background-repeat: no-repeat;
        height: 25vh;
        min-height: 250px;}
    .oval-divider--10 {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0xMDk0LjQ0IDExOUwxNzIuNyA2OC43MmE3NC41NCA3NC41NCAwIDAgMS0yNS4xOS01Ljk1TDAgMHYxNDBoMTI4MFYwbC0xMzMuODUgMTAyYy0xNS44NCAxMi4wOS0zMy43IDE3Ljk1LTUxLjcxIDE3eiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0xMDkzLjQ4IDEzMS44NUwxNzMgOTRhNzYuODUgNzYuODUgMCAwIDEtMzYuNzktMTEuNDZMMCAwdjE0MGgxMjgwVjBsLTEzMS44MSAxMTEuNjhjLTE2LjQ3IDEzLjk2LTM1LjQ3IDIwLjk2LTU0LjcxIDIwLjE3eiIvPjwvZz48L3N2Zz4=);
    }
    .oval-divider--bottom {
        background-size: 100% 100px;
        bottom: 0;
        /* height: 100px; */
        z-index: 1;
    }
    .oval-divider--bottom {
        margin-bottom: -1px;
    }
    .oval-divider--bottom, .oval-divider--top {
        display: block;
        position: absolute;
        width: 100%;
        /* height: 100%; */
        /* bottom: 0; */
        /* left: 0; */
        pointer-events: none;
        background-repeat-y: no-repeat;
        /* right: 0; */
    }
    .geometric-overlay{
        position: relative;
        border-bottom: none;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .m-gab-2-top {
        padding-top: 4.0625rem;
    }
    .m-video-link .m-video-link--icon {
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        padding: 12px;
        border-radius: 50%;
        background: rgba(255,255,255,0.20);
        line-height: 1;
        display: inline-block;
        margin-right: 10px;
    }
    .m-video-link .m-video-link--icon i {
        background: rgba(255, 255, 255, 0.39);
        padding: 22px;
        border-radius: 50%;
        text-align: center;
        color: white;
    }
    .m-video-link .m-video-link--icon:hover {
        padding: 15px;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .overview-wrapper{
        /* display:flex; */
        /* justify-content:center; */
        /* align-items:center; */
        position: relative;
        height: 100%;
        width: 100%;
    }
    .overview-wrapper .snf-link-wrapper{
        display:none;
    }
    .overview{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        /* height: 100%; */
        padding: 0 !important;}
    .executive-highlight .overview h2{

        font-size: 1.5rem !important;font-weight: 600;/* text-align: center; */}
    .executive-highlight .overview h6{
        text-align: center;
    }
}
/*===================================================
    Video Icon Modal
======================================================*/
@media(min-width:768px){
    .z-depth-1-half {
        -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
        box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
        /* margin-top: 45px !important; */
    }
    .video-overview .modal-dialog {
        width: auto !important;
        max-width: 800px !important;
        height: unset;
        /* padding: 1.75rem; */}
    .embed-responsive-16by9::before {
        padding-top: 56.25%;
    }
    .video-overview .modal-dialog .modal-content {
        background-color: #000;
        border: 0;
        border-radius: 0.125rem;
        -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
        box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
        height: unset;
    }
    .btn-floating.btn-sm {
        width: 36.15385px;
        color: #fff;
        height: 36.15385px;
    }
    .video-overview .modal{
        top: 10%;
    }
    .video-overview button.close span{
        color:#fff;
        font-size:40px;
        text-shadow: unset;
        font-weight: 300;
        top: -10px;
        position: absolute;
        right: 15px;
        z-index: 11;
    }
    .video-overview .modal-body {
        overflow-y: auto;
        position: relative;
        padding: 2rem;
    }
}
/*===================================================

======================================================*/
@media (min-width: 576px) {


    .highlight-section .image-column{
        position:
                relative;
        /* display: none; */
        justify-content: center;
        align-items: center;
        padding: 0rem;
    }
}
@media(min-width:992px){
    .highlight-section{
        position:relative;
        margin: 2% 0px;
    }
    .highlight-section .content-column{
        position:relative;
        margin-bottom: 0;
    }
    .branded-title-seperation .branded_title_container h2 {
        display: block;
        /* height: 100%; */
        border-bottom: 1px dotted #6d6d6d;
        background-color: transparent;
        padding: 0;
    }
    .branded-title-seperation {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
    }
    .branded-title-seperation .branded_title_container h2 {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        color: #002d73;
        margin-bottom: 0;}
    .oval-overlay .branded-title-seperation .branded_title_container h2:before {

        background-color: #fff;
    }
    .branded-title-seperation .branded_title_container h2:before {
        display: block;
        left: 0;
        top: 40px;
        position: relative;
        width: 30%;
        height: 2px;
        content: "";
        background-color: #002d73;
    }
    .highlight-section .content-column .inner-column.right{
        position:relative;
        padding-top: 20px;
        padding-right: 20px;
    }
    .highlight-section .content-column .inner-column.left{
        position:relative;
        padding-top: 20px;
        padding-left: 20px;
    }
    .highlight-section .content-column .text{
        position:relative;
        /* color:#777777; */
        /* font-size:15px; */
        /* line-height:2em; */
        margin-bottom:40px;
    }
    .highlight-section .content-column .email{
        position:relative;
        color:#252525;
        font-weight:700;
        margin-bottom:50px;
    }
    .home .highlight-section .image-column{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;}
    .highlight-section .image-column{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;}
    .highlight-section .image-column .inner-column{
        position:relative;
        padding: 20px 20px 0px 0px;
        /* margin-left:50px; */
    }
    .highlight-section .image-column .inner-column:after{
        position:absolute;
        content:'';
        right:0px;
        top:0px;
        left: 20px;
        bottom: 50px;
        border-radius: 4px;z-index:-1;
        background-color: #f3f1eb;/* border: 2px solid #002d73; */
    }
    .highlight-section .image-column .inner-column .image{
        position:relative;
        z-index: 4;
        background-color: #fff;
    }
    .highlight-section .image-column .inner-column .image:before{
        position:absolute;
        /* content:''; */
        left:-50px;
        bottom:-50px;
        width:299px;
        background-color: #fff;
        height:299px;
        background:url(img/pattern-2.png) no-repeat;
        /* z-index: 6; */
    }
    .highlight-section .image-column .inner-column .image img{
        position:relative;
        width:100%;
        border-radius: 4px;display:block;
        max-height: 40vh;}
    .highlight-section .image-column .inner-column .image .overlay-box{
        position:absolute;
        left:40px;
        bottom:48px;
    }
    .highlight-section .image-column .inner-column .image .overlay-box .year-box{
        position:relative;
        color: #fff;
        text-shadow: 0 1px black;
        font-size:24px;
        font-weight:700;
        line-height:1.4em;
        padding-left:125px;
    }
    .highlight-section .image-column .inner-column .image .overlay-box .year-box .number{
        position:absolute;
        left:0px;
        top:0px;
        width:110px;
        height:110px;
        color: #002d73;
        font-size:68px;
        font-weight:700;
        line-height:105px;
        text-align:center;
        background-color:#ffffff;
        border:1px solid #000000;
    }
    .btn-style-three:before {
        position: absolute;
        content: '';
        left: 10px;
        top: 10px;
        z-index: -1;
        right: -10px;
        bottom: -10px;
        background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
    }
    .cta_subline p{
        /* color: #212529; */
        font-size: 1.25em;
        font-weight: 600;
    }
}
@media(min-width:768px){
    .branded-title-seperation .branded_title_container .heading {
        display: block;
        /* height: 100%; */
        border-bottom: 1px dotted #6d6d6d;
        background-color: transparent;
        padding: 0;
        margin-bottom: 5px;}
    .branded-title-seperation {
        padding-top: 5px;
        padding-bottom: 5px;
        /* padding-left: 0 !important; */
        padding-right: 0;
    }
    .branded-title-seperation .branded_title_container h2 {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        color: #002d73;
        margin-bottom: 0;}
    .oval-overlay .branded-title-seperation .branded_title_container h2:before {

        background-color: #fff;
        top: 30px;}
    .branded-title-seperation .branded_title_container h2:before {
        display: block;
        left: 0;
        top: 40px;
        position: relative;
        width: 30%;
        height: 2px;
        content: "";
        background-color: #002d73;
    }
    .cta_stats{
        /* padding:0 !important; */
    }
    .hp_cta_contact{

        /* position: absolute !important; */

        /* left: 0; */

        /* right: 0; */

        /* top: 100%; */

    }
    .cta_image{
        /* position:
        relative; */
        overflow: hidden;
        padding: 0 !important;
    }
    .hp_cta_contact h3{
        font-size: 1.45rem;
    }
    .cta_content{
        /* position: relative; */
    }

    .cta_subline h3{
        /* z-index:12; */
        color: #002d73 !important;
        font-size: 1.95rem;
        font-weight: 800;
        letter-spacing: 1px;
        margin: unset;
    }


    .highlight-section{
        position:relative;
        padding: 0;
    }
    .highlight-section .content-column{
        position:relative;
        /* margin-bottom: 10px; */
    }
    .highlight-section .content-column .inner-column.right{
        position:relative;
        /* padding-top:50px; */
        /* padding-left: 20px; */
    }
    .highlight-section .content-column .inner-column.left{
        position:relative;
        padding-top: 0;
        padding-right: 0;
    }
    .highlight-section .content-column .text{
        position:relative;
        /* color:#777777; */
        /* font-size:15px; */
        /* line-height:2em; */
        margin-bottom:40px;
    }
    .highlight-section .content-column .email{
        position:relative;
        color:#252525;
        font-weight:700;
        margin-bottom:50px;
    }
    .home .highlight-section .image-column{
        /* display: none !important; */
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        /* padding: 0 !important; */}

    .highlight-section .image-column .inner-column{
        position:relative;
        padding: 20px 20px 0px 0px;
        /* margin-left:50px; */
    }
    .highlight-section .image-column .inner-column:after{
        position:absolute;
        content:'';
        right:0px;
        top:0px;
        left: 20px;
        bottom: 50px;
        border-radius: 4px;z-index:-1;
        background-color: #f3f1eb;/* border: 2px solid #002d73; */
    }
    .highlight-section .image-column .inner-column .image{
        position:relative;
        z-index: 4;
        background-color: #fff;
    }
    .highlight-section .image-column .inner-column .image:before{
        position:absolute;
        /* content:''; */
        left:-50px;
        bottom:-50px;
        width:299px;
        background-color: #fff;
        height:299px;
        background:url(img/pattern-2.png) no-repeat;
        /* z-index: 6; */
    }
    .highlight-section .image-column .inner-column .image img{
        position:relative;
        width:100%;
        border-radius: 4px;display:block;
        /* max-height: 50vh; */}
    .highlight-section .image-column .inner-column .image .overlay-box{
        position:absolute;
        left:40px;
        bottom:48px;
    }
    .highlight-section .image-column .inner-column .image .overlay-box .year-box{
        position:relative;
        color: #fff;
        text-shadow: 0 1px black;
        font-size:24px;
        font-weight:700;
        line-height:1.4em;
        padding-left:125px;
    }
    .highlight-section .image-column .inner-column .image .overlay-box .year-box .number{
        position:absolute;
        left:0px;
        top:0px;
        width:110px;
        height:110px;
        color: #002d73;
        font-size:68px;
        font-weight:700;
        line-height:105px;
        text-align:center;
        background-color:#ffffff;
        border:1px solid #000000;
    }
    .btn-style-three:before {
        position: absolute;
        content: '';
        left: 10px;
        top: 10px;
        z-index: -1;
        right: -10px;
        bottom: -10px;
        background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
    }
    .cta_subline{
        position: relative;
        z-index: 11;
        /* top: 0; */height: 100%;
    }
}

/*===================================================
    Market Panel Skewed
======================================================*/
@media (min-width: 768px) {
    .market-icon{position: relative;padding: 0 !important;overflow:hidden;/* height: 100%; */}
    .market-icon a:hover > .market-title{
        opacity: 0;
        padding: 0 !important;
    }
    .market-icon a:hover >  .market-icon-container{
        background-size: cover;
        background-position: center;
        height: 220px;
        position: absolute;
        left: 0;
        right: 0;
        opacity: 1 !important;
        /* display: block; */
        transition: opacity .5s linear;
        /* padding: 0 !important; */
    }
    .market-icon .market-title h3{
        text-transform:uppercase;
        color:rgb(64,64,64);
        font-size: .85rem;
        /* font-weight:bold; */
        color: #fff;
        text-shadow: 1px 1px 4px #000;
        display: block;
    }
    .market-icon .market-title{
        height: 100%;
        text-align: center;
        padding: 9px;
        /* display: flex; */
        transition: opacity .5s linear;
    }
    .market-icon .card-container{
        height: 100%;
        width:100%;
    }
    .market-icon a:hover .card-container{
        background-color:#000;
        padding: 10px;position: absolute;left: 0;right: 0;}
    .market-icon a:hover .card-container p{
        font-size: .7rem !important;
        color:#fff;
        text-align: left !important;}
    .market-icon .market-icon-container .market-title{
        background-size:cover;
        background-position:center;
        padding: 0;position: relative;/* overflow: hidden; */}
    .icon-square-hover{
        height: 125px;
        /* position: relative; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* display: block; */
    }
    .icon-square-hover img{
        display:block;
        z-index:4;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        /* right: 0; */
        height: 115px;
    }
    .markets-card-icon .market-icon{
        height:400px;
        background-position: center;
        background-size: cover;
        position:relative;
    }
    .market-icon .card-body{
        min-height: 200px;
        border-radius: 9px;
        position: relative;
        box-shadow: 0px 3px 7px rgb(0 0 0 / 40%);
    }
    .market-icon .market-title-overlay{
        position: relative;
        padding:8px 15px
    }
    .market-icon-container{
        /* position: absolute; */
        /* background-color:#fff; */
        right: 0;
        /* height: 150px; */
        bottom: 0;
        /* border-radius: 50%; */
        left: 0;
    }
    .market-icon-container img{
    }
    .market-icon .market-title-overlay h3{
        margin:0;
        font-size:20px;
        font-weight:800;
    }
}

/*========================================================
    nEWS sLIDER
========================================================*/


/* Responsive design for image heights */
@media (min-width: 576px) {
    #news_carousel .card-img-top {
        height: 56vw;
    }
    #news_carousel .card-body h2{
        font-size: 1.05rem;
        margin-bottom: 0;
    }

}

@media (min-width: 768px) {
    .news_featured{
        background-size: cover;
        background-position: center;
        height: 9rem;
        border-radius: 4px  4px  0px 0px;
    }
    .news_featured_no_image{
        height:9rem;
        display:flex;
        justify-content: center;
        align-items:
                center;
        border-radius: 4px  4px  0px 0px;
    }
    .news_featured_no_image img{

        height: 2rem;

    }
    #news_carousel .card-img-top {
        height: 20vw;
    }
    .carousel-inner .carousel-item {
        margin-right: unset;
    }
    #news_carousel .card-body h2{
        font-size:1.15rem;
    }
    #news_carousel .carousel-inner{
        background-color:#fff;
    }
    #news_carousel .carousel-control-prev, #news_carousel .carousel-control-next{
        display: none;
        opacity: 1;/* display: inline-flex; */position: relative;top: -320px;}
    #news_carousel .carousel-control-prev{
        left: 260px;
    }
    #news_carousel .carousel-control-prev svg, #news_carousel .carousel-control-next svg{
        color:black;
        /* font-size: 1.15rem; */
    }
    #news_carousel .carousel-control-next{
        right: -240px;
    }
    #news_carousel .carousel-control-next-icon{
        background-color:#002d73;;
        width: 50px;font-size: 25px;}
    #news_carousel .carousel-control-prev-icon{
        background-color:#002d73;;
        width: 50px;font-size: 25px;
    }
    .carousel-indicators.communication_indicators{
        margin: 0;background-color: #000;padding: 15px 0;position: relative;
    }
    #news_carousel .card-img-top {
        object-fit: cover;
    }

    #news_carousel a.btn{
        /* padding:0; */
    }
    #news_carousel .card-body, #news_carousel .card-footer {
        padding:.5rem 1.25rem;
    }
    /* show 3 items */
    #news_carousel .carousel-inner .active,
    #news_carousel .carousel-inner .active + .carousel-item,
    #news_carousel .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    #news_carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #news_carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #news_carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    #news_carousel .carousel-inner .carousel-item-next,
    #news_carousel .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    #news_carousel .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    #news_carousel .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #news_carousel .carousel-item-next.carousel-item-left + .carousel-item,
    #news_carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #news_carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    #news_carousel .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    #news_carousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #news_carousel .carousel-item-prev.carousel-item-right + .carousel-item,
    #news_carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #news_carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    #news_carousel .card-img-top {
        height: 30vw;
    }
}
@media (min-width: 992px) {

    #news_carousel .card-img-top {
        height: 20vw;
    }
    .carousel-inner .carousel-item {
        margin-right: inherit;
    }
    #news_carousel .card-body h2{
        font-size: 1.1rem;
        font-weight: 600;
    }
    #news_carousel .carousel-inner{
        background-color:#fff;
    }
    #news_carousel .carousel-control-prev, #news_carousel .carousel-control-next{
        background-color: transparent;
        opacity: 1;}
    #news_carousel .carousel-control-prev{
        left: -9%;
    }
    #news_carousel .carousel-control-prev svg, #news_carousel .carousel-control-next svg{
        color:black;
        font-size:1.35rem;
    }
    #news_carousel .carousel-control-next{
        right: -9%;
    }
    #news_carousel .carousel-control-next-icon{
        background-color:#002d73;;
        width: 50px;font-size: 25px;}
    #news_carousel .carousel-control-prev-icon{
        background-color:#002d73;;
        width: 50px;font-size: 25px;
    }
    .carousel-indicators.communication_indicators{
        margin: 0;background-color: #000;padding: 15px 0;position: relative;
    }
    #news_carousel .card-img-top {
        object-fit: cover;
    }
    .news_featured{

    }
}
@media (min-width: 1200px) {
    #news_carousel .card-img-top {
        height: 9vw;
    }
}
@media(max-width:767px){
    .cta_subline h3{
        font-size:1.5rem;
        font-weight:600;
        color:#002d73;
    }
    .cta_subline{
        /* position: absolute; */
        /* z-index: 11; */
        /* top: 0; *//* height: 100%; */
    }
    .cta_subline p{
        /* color: #fff; */
    }
    .cta_image{

        display: flex;position: relative;justify-content: center;align-items: center;width: 100%;}
    .cta_image img{
        height:10vh;
        /* text-align: center; *//* margin-right: auto; */}
    .cta_content_overlay{
        /* position:absolute; */
        /* height:100%; */
        /* width:100%; */
        /* background-color:rgba(0,0,0,.6); */
        /* top: 0; */
        /* left: 0; *//* right: 0; *//* border-radius: .25rem; */
    }
    .introduction .introduction-title h2{
        display:none;
    }
    .news_featured{
        background-size: cover;background-position: center;height: 9rem;
    }
    #news_carousel .card-img-top {
        height: 20vw;
    }
    .carousel-inner .carousel-item {
        /* margin-right: unset; */
    }
    .news_featured_no_image{
        height:10rem;
        display:flex;
        justify-content: center;
        align-items:
                center;
        border-radius: 4px  4px  0px 0px;
    }
    .news_featured_no_image img{

        height: 2rem;

    }
    #news_carousel .card-body h2{
        font-size:1.15rem;
    }
    #news_carousel .carousel-inner{
        background-color:#fff;
    }
    #news_carousel .carousel-control-prev, #news_carousel .carousel-control-next{
        display: none;
        opacity: 1;/* display: inline-flex; */position: relative;top: -320px;}
    #news_carousel .carousel-control-prev{
        left: 260px;
    }
    #news_carousel .carousel-control-prev svg, #news_carousel .carousel-control-next svg{
        color:black;
        /* font-size: 1.15rem; */
    }
    #news_carousel .carousel-control-next{
        right: -240px;
    }
    #news_carousel .carousel-control-next-icon{
        background-color:#002d73;;
        width: 50px;font-size: 25px;}
    #news_carousel .carousel-control-prev-icon{
        background-color:#002d73;;
        width: 50px;font-size: 25px;
    }
    .carousel-indicators.communication_indicators{
        margin: 0;background-color: #000;padding: 15px 0;position: relative;
    }
    #news_carousel .card-img-top {
        object-fit: cover;
    }

    #news_carousel a.btn{
        /* padding:0; */
    }
    #news_carousel .card-body, #news_carousel .card-footer {
        padding:.5rem 1.25rem;
    }
    /* show 3 items */
    #news_carousel .carousel-inner .active,
    #news_carousel .carousel-inner .active + .carousel-item,
    #news_carousel .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    #news_carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #news_carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #news_carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    #news_carousel .carousel-inner .carousel-item-next,
    #news_carousel .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    #news_carousel .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    #news_carousel .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #news_carousel .carousel-item-next.carousel-item-left + .carousel-item,
    #news_carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #news_carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    #news_carousel .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    #news_carousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #news_carousel .carousel-item-prev.carousel-item-right + .carousel-item,
    #news_carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #news_carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    #news_carousel .card-img-top {
        height: 30vw;
    }
    .executive-highlight{
        /* margin:0; */
        /* padding:0; */
        height: 100%;
        position: relative;
    }
    .executive-highlight .bg-img::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #191919;
        opacity: .6;
        border-radius: inherit;
    }
    .executive-highlight .bg-img{
        background-size: cover;
        background-repeat: no-repeat;
        /* height: 25vh; */
        /* min-height: 250px; */}
    .oval-divider--10 {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0xMDk0LjQ0IDExOUwxNzIuNyA2OC43MmE3NC41NCA3NC41NCAwIDAgMS0yNS4xOS01Ljk1TDAgMHYxNDBoMTI4MFYwbC0xMzMuODUgMTAyYy0xNS44NCAxMi4wOS0zMy43IDE3Ljk1LTUxLjcxIDE3eiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0xMDkzLjQ4IDEzMS44NUwxNzMgOTRhNzYuODUgNzYuODUgMCAwIDEtMzYuNzktMTEuNDZMMCAwdjE0MGgxMjgwVjBsLTEzMS44MSAxMTEuNjhjLTE2LjQ3IDEzLjk2LTM1LjQ3IDIwLjk2LTU0LjcxIDIwLjE3eiIvPjwvZz48L3N2Zz4=);
    }
    .oval-divider--bottom {
        background-size: 100% 100px;
        bottom: 0;
        /* height: 100px; */
        z-index: 1;
    }
    .oval-divider--bottom {
        margin-bottom: -1px;
    }
    .oval-divider--bottom, .oval-divider--top {
        display: block;
        position: absolute;
        width: 100%;
        /* height: 100%; */
        /* bottom: 0; */
        /* left: 0; */
        pointer-events: none;
        background-repeat-y: no-repeat;
        /* right: 0; */
    }
    .geometric-overlay{
        position: relative;
        border-bottom: none;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .m-gab-2-top {
        padding-top: 4.0625rem;
    }
    .m-video-link .m-video-link--icon {
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        padding: 12px;
        border-radius: 50%;
        background: rgba(255,255,255,0.20);
        line-height: 1;
        display: inline-block;
        margin-right: 10px;
    }
    .m-video-link .m-video-link--icon i {
        background: rgba(255, 255, 255, 0.39);
        padding: 22px;
        border-radius: 50%;
        text-align: center;
        color: white;
    }
    .m-video-link .m-video-link--icon:hover {
        padding: 15px;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .overview-wrapper{
        /* display:flex; */
        /* justify-content:center; */
        /* align-items:center; */
        position: relative;
        height: 100%;
        width: 100%;
    }
    .overview-wrapper .snf-link-wrapper{
        display:none;
    }
    .overview{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        /* height: 100%; */
        padding: 0 !important;}
    .executive-highlight .overview h2{

        font-size: 1.5rem !important;font-weight: 600;/* text-align: center; */}
    .executive-highlight .overview h6{
        text-align: center;
    }
    .branded-title-seperation .branded_title_container .heading {
        display: block;
        /* height: 100%; */
        border-bottom: 1px dotted #6d6d6d;
        background-color: transparent;
        padding: 0;
        margin-bottom: 5px;}
    .branded-title-seperation {
        padding-top: 5px;
        padding-bottom: 5px;
        /* padding-left: 0 !important; */
        padding-right: 0;
    }
    .branded-title-seperation .branded_title_container h2 {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        color: #002d73;
        margin-bottom: 0;}
    .branded-title-seperation .branded_title_container h6{
        margin-top:5px;
    }
    .oval-overlay .branded-title-seperation .branded_title_container h2:before {

        background-color: #fff;
        top: 30px;}
    .branded-title-seperation .branded_title_container h2:before {
        display: block;
        left: 0;
        top: 40px;
        position: relative;
        width: 30%;
        height: 2px;
        content: "";
        background-color: #002d73;
    }
    .highlight-section .image-column .inner-column .image img{
        display: none;
        /* width:100%; */
        /* border-radius: 4px; *//* display: flex; */
        /* height: 25vh; *//* justify-content: center; *//* align-items: center; */
    }
    .home .highlight-section .image-column{
        /* display: none !important; */
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        /* padding: 0 !important; */
    }
    .highlight-section .image-column .inner-column{
        position:relative;
        /* padding: 20px 20px 0px 0px; */
        /* margin-left:50px; */
    }
    .highlight-section .image-column .inner-column:after{
        position:absolute;
        content:'';
        right:0px;
        top:0px;
        left: 20px;
        bottom: 50px;
        border-radius: 4px;z-index:-1;
        background-color: #f3f1eb;/* border: 2px solid #002d73; */
    }
    .highlight-section .image-column .inner-column .image{
        position:relative;
        z-index: 4;
        background-color: #fff;
    }
    .highlight-section .image-column .inner-column .image:before{
        position:absolute;
        /* content:''; */
        left:-50px;
        bottom:-50px;
        width:299px;
        background-color: #fff;
        height:299px;
        background:url(img/pattern-2.png) no-repeat;
        /* z-index: 6; */
    }
}
.carousel-inner .active.right { left: 25%; }
/*===================================================
    Market Infinity Scroll
======================================================*/

