<?xml version="1.0"?>
<phpunit
        bootstrap="__dev__/unit-test/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="true"
        cacheResult="false"
>
    <php>
        <ini name="display_errors" value="true" />
    </php>
    <testsuites>
        <testsuite name="all">
            <directory prefix="test-" suffix=".php">./__dev__/unit-test/</directory>
        </testsuite>
        <testsuite name="gold-functions">
            <directory prefix="test-" suffix=".php">./__dev__/unit-test/gold-functions</directory>
        </testsuite>
        <testsuite name="file-handler">
            <directory prefix="test-" suffix=".php">./__dev__/unit-test/file-handler</directory>
        </testsuite>
        <testsuite name="integration-test">
            <directory prefix="test-" suffix=".php">./__dev__/unit-test/integration-test</directory>
        </testsuite>
<!--        <testsuite name="activate-deactivate">-->
<!--            <directory prefix="test-" suffix=".php">./__dev__/unit-test/activate-deactivate</directory>-->
<!--        </testsuite>-->
        <testsuite name="helpers">
            <directory prefix="test-" suffix=".php">./__dev__/unit-test/helpers</directory>
        </testsuite>
        <testsuite name="gold-services">
            <directory prefix="test-" suffix=".php">./__dev__/unit-test/gold-services</directory>
        </testsuite>
        <testsuite name="admin">
            <directory prefix="test-" suffix=".php">./__dev__/unit-test/admin</directory>
        </testsuite>
	</testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./includes</directory>
            <directory suffix=".php">./admin</directory>
        </whitelist>
    </filter>
</phpunit>
