/*===================================================
    Name: Market Template Styles
======================================================*/

/*===================================================
Directory:
0.)
I.)
II.)
III.)
IV.)
V.)
VI.)
VII.)
IX.)
======================================================*/
.right-side-sidebar .sidebar {
    padding: 15px;
    background-color: transparent;
    border: none;
}
.right-side-sidebar .sidebar .nav {
    position: relative;
}
.right-side-sidebar .sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
    background-color: unset;
    padding: .75rem 0rem;
}
.right-side-sidebar .sidebar li a{
    color: #212529;
    font-size: .85rem;}
/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -41.6%;
    }
    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    .sidebar {
        background-color:#3b3b3b;
        padding-top:0;
    }
    .sidebar .nav>li {
        color: #ddd;
        background: linear-gradient(#3E3E3E, #383838);
        border-top: 1px solid #484848;
        border-bottom: 1px solid #2E2E2E;
    }
    .sidebar .nav>li:first-child {
        border-top:0;
    }
    .sidebar .nav>li>a {
        color: #ddd;
    }
    .sidebar .nav>li>a>img {
        max-width: 14px;
    }
    .sidebar .nav>li>a:hover, .sidebar .nav>li>a:focus {
        text-decoration: none;
        background: linear-gradient(#373737, #323232);
        color: #fff;
    }
    .sidebar .nav .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
    .sidebar .nav a:hover .caret{
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
}
.sidebar-offcanvas .nav .nav.collapse,
.sidebar-offcanvas .nav .nav.collapsing {
    margin-left: 5%;
    background-color: #f8f8f8;
}
.sidebar-offcanvas .nav .nav.collapse .nav {
    position: absolute;
    top: 0;
    left: 155px;
    z-index: 100;
    background-color: #f8f8f8;
}
.sidebar  .dropdown:hover .dropdown-menu {
    /* display: block; */
    position: relative !important;
    border: none !important;
    transform: unset !important;
}
.caret.pull-right,
.caret-right.pull-right {
    margin-top: 9px;
}
.caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px solid;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.left-side-sidebar {
    padding-top: 5px;
    padding-bottom: 5px;
}
.right-side-sidebar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;padding-right: 0;}

.right-side-sidebar .sidebar-widget h4{
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    color: #002d73
}
.right-side-sidebar .sidebar-widget .heading{
    display: block;
    margin-bottom: 25px;
    border-bottom: 1px dotted #e4e4e4;
    background-color: transparent;
    padding: 0;
}
.right-side-sidebar .sidebar-widget h4:before{
    display: block;
    left: 0;
    top: 40px;
    position: relative;
    width: 30%;
    height: 2px;
    content: "";
    background-color: #002d73;
}
.sidebar-widget{
    padding-bottom: 20px;
    border-radius: 4px;}
.sidebar-market-contact{
    background-size:cover;
    background-position:center;
    height: 135px;
    position:relative;
    z-index:-1;
    display: flex;border-radius: 4px;justify-content: center;align-items: center;}
.sidebar-market-contact .sidebar-overlay{
    position: absolute;
    top:0;
    opacity: .64;
    left:0;
    height:100%;
    border-radius: 4px;width: 100%;
    padding:1.75rem;
}
.sidebar-market-contact .markets-contact-content{
    z-index:15;
    position:relative;
    color:#fff;
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 100%;text-align: center;}
.sidebar-market-contact .markets-contact-content h3{
    text-shadow: 1px 1px #000;font-size: 1.15rem;
    font-weight: 800;letter-spacing: .1rem;}
.sidebar-market-contact .markets-contact-content a{
    font-weight:800;
    border:solid 2px;
}
/*===================================================
SDG Sidebar
======================================================*/
.photo-gallery {
    color:#313437;
    background-color:#fff;
}
.photo-gallery p {
    color:#7d8285;
}
.photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
}
@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px;
    }
}
.photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
}
.photo-gallery .intro p {
    margin-bottom:0;
}
.photo-gallery .photos {
    padding-bottom:20px;
}
.photo-gallery .item {
    padding-bottom:30px;
}
.photos .item img{
    height: 80px;
    width: auto;
    min-height: 70px;
    min-width: 70px;
    display: block;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*===================================================
Cards
======================================================*/

/*===================================================

======================================================*/

/*===================================================

======================================================*/
.repeater-slider .card{

}
.repeater-slider .carousel-item{
    z-index: 2;
    /* padding: 25px; */
    margin: 0;
}
.repeater-slider .carousel-item h3{
    color:#fff;
    font-size:30px;
}
.repeater-slider .carousel-item > .row{
    margin: 0;
}
.repeater-slider .title{
    color: #fff;
    text-align: center;
}
.repeater-slider .title h3{ /* text-shadow: 0px 3px 3px rgba(0,0,0,0.2); */
}
.repeater-slider .btn-next{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 100px;
    border-radius: 20px;
    background-color: #316e99;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 3;
}
.repeater-slider input{
    background-color: transparent !important;
}
/*-- vertical bootstrap slider --*/
.repeater-slider .carousel .carousel-item-next.carousel-item-left,
.repeater-slider .carousel .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.repeater-slider .carousel .carousel-item-next,
.repeater-slider .carousel .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}
.repeater-slider .carousel .carousel-item-prev,
.repeater-slider .carousel .active.carousel-item-left {
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
}
/*-- vertical carousel indicators --*/
.repeater-slider .carousel-indicators{
    /* display: inline-block; */
    /* position: relative; */
    /* top: 0; */
    /* bottom: 0; */
    /* margin: 0; */
    /* justify-content: center; */
    /* right: unset; */
    /* left: 0; */
    /* width: 100%; */
    /* -webkit-transform: rotate(90deg); */
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    /* transform: rotate(90deg); */
}
.repeater-slider .carousel-indicators li{
    display: block;
    margin-bottom: 0px;
    border-radius: 0;
    /* width: 10px; */
    /* height: 10px; */
    background: #BDBDBD;
    transition: all ease 0.6s;
}
.repeater-slider .carousel-indicators li:before, .repeater-slider .carousel-indicators li:after {
    content:unset;
}
/* Media Querys */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .repeater-slider .bgTitle{
        height: 30%;
        /* border-top-left-radius: 15px; */
        /* border-top-right-radius: 15px; */
        width: 100%;
        top: 0;
    }
    .repeater-slider .content{
        padding: 15px;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .repeater-slider .bgTitle{
        height: 100%;
        /* margin: 15px; */
        border-radius: 15px 15px 0px 0px;
        /* border-top-right-radius: 0px; */
    }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
.cardslider-image{
    padding:0;
}
#carouselExampleIndicators{
    margin:1% 0 5% 0;
    /* border-radius: 15px; */
}
.controllers-slider{
    position: relative;
    /* background: rgba(0,0,0,.5); */
    width: 100%;
    display: inline-flex;
    justify-content: center;
    box-shadow: 0 4px 21px -12px rgb(0 0 0 / 66%);
    align-items: center;
    padding: 3px 0;
}
.controllers-slider .directionals, .controllers-slider .carousel-indicators{
    width:50%;
    /* height: 100%; */
    margin: 0;
    display: flex;
    z-index: 11;
}
/*===================================================
    Contact Bar
======================================================*/
.contact-bar.bg-fixed {
    background-attachment: fixed;
    position: relative;
}
.contact-bar.bg-fixed::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #191919;
    opacity: .7;
    border-radius: inherit;
}
section.contact-bar  {
    min-height: 250px;
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    position: relative;
    display: block;
    border-bottom: none;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-top: 7rem; */
    /* padding-bottom: 7rem; */
}
.flexible-layout .contact-bar .section-header {
    text-align: center;
    max-width: 100%;
    /* margin: 30px 20px 100px; */
    z-index: 99;
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    height: 100%;
    align-items: center;
}
.contact-bar .section-header h2{
    z-index: 9;
}
.carousel-inner{
    min-height:450px;
}
/*===================================================
   Horizontal Card Layout
======================================================*/
.flexible-card .traditional-card{
    background-size: cover;
    background-position: center;
    height: 185px;
}
.flexible-card .card-tag{
}
.second-tier-nav ul li{
    display: inline-flex;
    /* font-size: 22px; */

    /* margin: 0; */
    /* text-transform: uppercase; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background: transparent; */
    /* position: relative; */
    /* display: flex; */
    /* line-height: 1.2; */
}
.second-tier-nav ul li ul li{
    display:block;
    padding: 7px .5rem;
}
.shrink.second-tier-nav ul li{
    border: none;
    font-size: 28px;
    padding: .75rem 1.25rem;
    margin: 0;
    text-transform: uppercase;
    /* justify-content: center; */
    /* align-items: center; */
    background: transparent;
    position: relative;
    display: flex;
    line-height: 1.2;
}
.shrink.second-tier-nav ul li:hover ul.children li{
    display:block;
    padding: .75rem .95rem;
}

.shrink.second-tier-nav ul li:hover ul.children{
    display:block !important;
    position:absolute;
    top: 96%;
    box-shadow: 0px 0px 11px -9px rgb(0 0 0 / 75%);
    border-radius: 0;
    min-width: 230px;
}
.second-tier-nav ul li.active{
    position: relative;
    padding: .75rem;
    background-color: black;
    /* padding-right: 5%; */
    border-radius: 0 !important;
}
.shrink.second-tier-nav ul li.active{
    position: relative;
    /* padding: .75rem 0rem; */
    background: transparent;
    padding-right: 0%;
    border-radius: 0 !important;
}
.shrink.second-tier-nav ul li.active:before{
    position:absolute;
    padding: .15rem .45rem;
    top: 0;
    height: 100%;
    content:"";
    clip-path: polygon(0 0, 82% 0, 97% 100%, 0% 100%);
    width: 8vw;
    background: rgb(249,176,0);
}
.second-tier-nav ul li.active:before{
    position:absolute;
    left: 0%;
    top: 0;
    height: 100%;
    content:"";
    clip-path: polygon(0 0, 79% 0, 87% 100%, 0% 100%);
    width: 7vw;
    /* background: rgb(249,176,0); */
    /* margin-right: 5%; */
}
.second-tier-nav ul li:hover ul.children{
    display: block;
    position:absolute;
    top: 100%;
    left:0;
    min-width:220px;
    background-color: #fff;
    width: 100%;padding: 0 .85rem;z-index: 5;
    box-shadow: 0px 1px 2px #999;
}
.second-tier-nav ul li ul.children{
    display: none;
}
#children-listing-sidebar{
    position:relative;
    z-index: 5;
    /* overflow-x:hidden; */
}