/*===================================================

======================================================*/
.archive-content{

}
.archive-content .archive-header .card-title{
    font-weight:300;
    color: rgb(64,64,64);
    font-size: 27px;
    /* line-height: 2.75rem; */
    letter-spacing: -.03125rem;
}

.contentCollection--description {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #6d6e71;
    display: block;
}
.archive-content .card-text{
    font-size: 1rem;
    line-height: 1.75rem;
}
.archive-content .text-muted{
    font-size: .85em !important;
}
.contact-info-container{}
.contact-info-container h2{}
.country-contact{}
.archive-inner-banner-image{
    background-size:cover;
    background-position: center;
    height: 300px;
}
.country-contact ul li{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.country-contact ul li i, .country-contact ul li b{
    font-size:1.4rem;
    padding:0 15px

}
.country-contact .card-title{
    margin:0;
}